<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<link rel="stylesheet" th:href="@{/record.css}">
<body>
	<th:block th:include="fragments/navbar-affiliate"></th:block>
	
	<div class="container">
		<div class = "card">
			<div class = "card-header"> New Services </div>
			<div class = "card-body">
				<form th:action="@{/services/save}" th:object="${serviceTravel}" method="POST">
					
					<div class="mb-3">
						<label for="serviceName" class="form-label">Services Name</label> 
						<input id="serviceName"
							class="form-control"
							type="text" name="name"
							th:field="*{name}" 
							placeholder="Enter Services Name" />
					</div>
					
					<div class="mb-3">
						<label for="deparment" class="form-label">Department</label> 
						<input id="deparment"
							class="form-control"
							type="text" name="deparment"
							th:field="*{deparment}" 
							placeholder="Enter Deparment" />
					</div>
					
					<div class="mb-3">
						<label for="province" class="form-label">Province</label> 
						<input id="province"
							class="form-control"
							type="text" name="province"
							th:field="*{province}" 
							placeholder="Enter Province" />
					</div>
					
					<div class="mb-3">
						<label for="address" class="form-label">Address</label> 
						<input id="address"
							class="form-control"
							type="text" name="address"
							th:field="*{address}" 
							placeholder="Enter Address" />
					</div>
					
					<div class="mb-3">
						<label for="serviceType" class="form-label">Type of Service</label>
						<select id="serviceType"
								class="form-select"
								th:field="${serviceTravel.serviceType}"
								name="serviceTypes">

							<option th:each="serviceType:${serviceTypes}" th:value="${serviceType.id}"
								th:text="${serviceType.name}" />
						</select>
					</div>
					
					<a th:href="@{/services/list}" class="btn btn-danger" >Back</a>
					<button type="submit" class="btn btn-primary">Submit Service</button>
					
				</form>
			</div>
		</div>
	</div>
	
	<th:block th:include="fragments/scripts"></th:block>
</body>
</html>