<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Services</title>
</head>
<body>
	<ul>
		<li>Services</li>
	</ul>
 	<a th:href="@{/services/new}">Add Services</a>
	<table>
		<thead>
			<tr>
				<th>Name Services</th>
				<th>Department</th>
				<th>Province</th>
				<th>Address</th>
				<th>Type Service</th>
				<th>Star</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="serviceTravel:${services}">
				<td th:text="${serviceTravel.name}"></td>
				<td th:text="${serviceTravel.deparment}"></td>
				<td th:text="${serviceTravel.province}"></td>
				<td th:text="${serviceTravel.address}"></td>
				<td th:text="${serviceTravel.serviceType.name}"></td>
				<td th:text="${serviceTravel.star}"></td>
				<td>
					<a th:href="@{/menus/list/{id}(id=${serviceTravel.id})}"
					class="btn btn-primary">View Details</a> 
					<a th:href="@{/services/edit/{id}(id=${serviceTravel.id})}"
					class="btn btn-primary">Update</a> 
					<a th:href="@{/services/{id}(id=${serviceTravel.id})}"
					class="btn btn-danger">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>