<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<link rel="stylesheet" th:href="@{/record.css}">
<body>

	<th:block th:include="fragments/navbar-affiliate"></th:block>

	<div class="container">
		<h1 th:text="${serviceTravel.name}"></h1>
		<h1>Menus</h1>
		
	 	<a th:href="@{/services/list}" class="btn btn-danger" >Back</a>
	 	<a th:href="@{/menus/insert}" class="btn btn-primary">Add Menu</a>
	 	
	 	<table class="table table-hover table-bordered">
	 	
			<thead class="table-dark">
				<tr>
					<th>Name of Menu</th>
					<th>Type of Menu</th>
					<th>Actions</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="menu:${menus}">
					<td th:text="${menu.name}"></td>
					<td th:text="${menu.menuType.name}"></td>
					<td>
						<a th:href="@{/plates/list/{id}(id=${menu.id})}"
						class="btn btn-primary">View Plates</a> 
						<a th:href="@{/menus/edit/{id}(id=${menu.id})}"
						class="btn btn-primary">Edit</a> 
						<a th:href="@{/menus/menus-delete/{id}(id=${menu.id})}"
						class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
			
		</table>
	</div>
	
	<th:block th:include="fragments/scripts"></th:block>
	
</body>
</html>