<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<link rel="stylesheet" th:href="@{/record.css}">
<body>
	<th:block th:include="fragments/navbar-affiliate"></th:block>
	<div class="container">
		<div class = "card">
			<div class = "card-header"> New Menu </div>
			<div class = "card-body">
				<form th:action="@{/rooms/save}" 
					  th:object="${room}" method="POST">
					  
					<div class="mb-3">
						<label for="QuantityBed" class="form-label">Quantity Bed</label> 
						<input id="QuantityBed"
							class="form-control"
							type="text" name="quantityBed"
							th:field="*{quantityBed}" 
							placeholder="Enter Quantity Bed" />
					</div>
					
					<div class="mb-3">
						<label for="RoomPrice" class="form-label">Room Price</label> 
						<input id="RoomPrice"
							class="form-control"
							type="text" name="priceRoom"
							th:field="*{priceRoom}" 
							placeholder="Enter Room Price" />
					</div>
					
					<a th:href="@{/rooms/back}" class="btn btn-danger">Back</a>
					<button type="submit" class="btn btn-primary">Submit Room</button>
					</form>
				</div>
		  </div>
	</div>
	
	<th:block th:include="fragments/scripts"></th:block>
</body>
</html>